body {
  text-align: center;
  text-transform: capitalize;
}

h1 {
  margin: 0 auto;
}

.btn-primary {
  display: inline-block;
  width: 15%;
  margin: 2%;
}

.container {
  font-size: 17px;
}

.jumbotron {
  color: rgb(0,0,0);
  background-color: rgb(4,161,149);
}

.jumbotron p {
  text-transform: none;
  font-style: italic;
  font-size: 24px;
  margin: 2% auto;
}

#headshotURL {
  margin: 0 auto;
  border: 7px double rgb(0,0,0);
}
