body {
  text-align: center;
  text-transform: capitalize;
  font-family: "Trebuchet MS", Tahoma, serif;
}

.jumbotron {
  color: rgb(0,0,0);
  background-color: rgb(4,161,149);
}

.jumbotron p {
  text-transform: none;
  font-style: italic;
  font-size: 16px;
  margin: 2% auto 1% auto;
}

.jumbotron .quote {
  font-size: 18px;
  margin: 2% auto;
}

h1 {
  text-transform: none;
  margin: 0.5% auto 0 auto;
  font-weight: bold;
}

#logo {
  position: relative;
  top: -0.15em;
}

.btn-primary {
  display: inline-block;
  width: 10%;
  margin: 2%;
  text-transform: capitalize;
  font-size: 16px;
  border: 2px solid rgb(0,0,0);
}

#headshotURL {
  margin: 1% auto 0 auto;
  border: 8px double rgb(0,0,0);
}

.container {
  font-size: 16px;
  margin-bottom: 2%;
}

.indivButtons {
  display: inline-block;
  width: 40%;
  overflow-x: auto;
  white-space: nowrap;
  margin: 1% auto -2% auto;
  border: 1px inset rgb(0,0,0);
}

.indivButtons .btn-primary {
  width: auto;
  margin: 0.5% 0.5%;
}

.pseudoGlyphicons {
  font-size: 36px;
  font-weight: bold;
  position: relative;
  top: 0.4em;
}

.name {
  font-weight: bolder;
  font-style: italic;
  font-size: 24px;
}
